body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.display-flex {
  display: flex;
}
.App {
  background-color: #f7f7f7;
}
.alert {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 15px;
  align-self: flex-start;
}
.error-dailog {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.success-dailog {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.card {
  width: 550px;
  min-height: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.7rem;
  margin: 30px auto auto auto;
  padding: 5px;
  background-color: white;
}
.card-header {
  position: relative;
  display: flex;
}
.post-user-options {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.card-body {
  margin: 10px 0;
}
.post-user-name {
  width: 80%;
  text-align: center;
}
.card-footer {
  display: flex;
  position: relative;
  border-top: 1px black solid;
}
.left-card-footer {
  border-right: 1px black solid;
}
.left-card-footer,
.right-card-footer {
  width: 50%;
  align-items: center;
  justify-content: center;
}

/*Top post Css*/
.create-post-container {
  margin: 30px auto;
  width: 550px;
}
.input-box {
  display: flex;
}
.input-box input {
  height: 50px;
  width: 400px;
  outline: none;
  border: none;
  padding-left: 20px;
  border-radius: 2rem 0 0 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.post-button button {
  height: 53px;
  background: linear-gradient(50deg, #3c8dad, #125d98);
  border-radius: 0 0.35rem 0.35rem 0;
  outline: none;
  border: none;
  color: white;
}
.horizontal-menu-list {
  list-style: none;
  padding-left: 0;
}
.upper-button-container {
  justify-content: space-between;
}
.add-gif-block {
  position: relative;
}
.add-gif-block {
  position: relative;
}
.block-button {
  width: 120px;
  outline: none;
  border: none;
  background: lightpink;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 0.5rem;
}
.gif-display-container {
  height: 300px;
  width: 250px;
}
.gif-display {
  overflow: scroll;
  min-height: 150px;
  background-color: white;
  z-index: 9999;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.gif-display ul {
  list-style-type: none;
  overflow-y: scroll;
  margin: 15px auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  height: 250px;
}
.gif-display ul li {
  margin: 3px auto;
}
.gif-display::-webkit-scrollbar {
  display: none;
}
.gif-search input {
  border: 1px darkgray solid;
  width: 250px;
}
.gif-selected {
  margin-top: 10px;
}
